[Unit]
Description=KartoTek sites Docker Container
# Only start after Docker is ready
After=docker.service
Requires=docker.service
# Wait for network to be available
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
